/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family), sans-serif;
  font-variation-settings: "wght" var(--wght-card-text);
  color: var(--accent-color);
  background-color: var(--background-color);
  background-image: var(--backgound-image);
  background-size: cover;
}

.header {
  font-family: var(--accent-family), sans-serif;
  display: grid;
  place-content: center;
  place-items: center;
  /* min-block-size: 364px; */
  min-inline-size: 696px;
  border: 2px solid #000;
  background-color: inherit;
  padding-block-start: 136px;
  margin-block-start: 214px;
}

.header__title {
  font-size: 65px;
  text-transform: uppercase;
  margin-block-end: 20px;
}

.heder__description {
  font-size: 23px;
  text-transform: uppercase;
  margin-block-end: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 14px;
  padding-block-end: 25px;
}

.theme-menu__button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 14px;
}
