/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --accent-color: #000;
  --background-color: #fff;
  --font-family: "Inter";
  --accent-family: "PressStart2P";
  --wght-card-title: 700;
  --wght-card-text: 400;
  --hover-color-button-text: #fff;
  --color-svg-counter: #000;
  --color-svg-main-body: #ff0000;
  --color-svg-sparks: #ff0000;
  --color-svg-core: #000;
  --backgound-image: repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      rgb(211 211 211 / 0) 2px,
      rgb(211 211 211 / 0) 4px
    ),
    repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      rgb(211 211 211 / 0) 2px,
      rgb(211 211 211 / 0) 4px
    ),
    linear-gradient(#e7e7e7, #1a1a1a);
}
